@font-face {
  font-family: 'font-title';
  src: url('font/ahganirya-font/AhganiryaPersonalUse-Yznaj.ttf');
}
*{
  padding: 0px;
  margin: 0px;
}

#titleHeader{
  color: #260A07;
  font-weight: bold;
  font-family: 'font-title';
  font-size: 16px;
}

body{
  background-color: #F2D3AC;
  animation: fadeIn;
  animation-duration: 2s;
}
main{
  margin: auto;
}

#destaquesHome{
  width: 90%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
  align-items: center;
}

.secHome{
  width: 90%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
  align-items: center;
  border-bottom: solid 1px #260A07;

}

.quem{
  font-family: 'font-title';
  text-align: center;
  margin: 40px auto;
  background-color: #260A07;
  border-radius: 20px;
  padding: 10px;
  color: #F2D3AC;
  width: 80%;
  font-size: 20px;
}

.secHome div{
  width: 390px;
  padding: 10px;
}

.secHome img{
  width: 350px;
  display: flex;
  margin: auto;
  animation: backInLeft;
  animation-duration: 1s;
}

hgroup{
  text-align: justify;
}
hgroup h1{
  font-size: 50px;
  color: #e88f3f;

  animation: backInDown;
  animation-duration: 2s;
}

.infor{
  font-size: 22px;
  text-align: justify;
}

/*Livros*/

#boxLivros{
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
  align-items: center;
}

/* sugestoes */

.sugestoes{
  width: 100%;
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-between;
}

.boxSugestoes{
  width: 390px;
  height: 390px;
  background-color: #260A07;
  border-radius: 10px;
  margin-top: 20px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
}

.boxSugestoes p{
  text-align: center;
  color: white;
  font-size: 28px;
  font-family: 'Times New Roman', Times, serif;
}

.txtArea{
  color: white;
  font-size: 25px;
  font-family: 'Times New Roman', Times, serif;
}

footer{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: space-around;
  align-items: center;
  background-color: #260A07;
  color: #F2D3AC;
  bottom: 0%;
}

footer img{
  width: 100px;
}

footer div{
  padding: 10px;
}

footer a{
  text-decoration: none;
  color: white;
}

.nav-link{
  background-color: #F2D3AC;
  border-radius: 15px;
  width: 200px;
  height: 40px;
  color: #260A07;
  font-weight: bold;
  text-align: center;
  padding: 5px;
  margin: 15px auto;
}